.new-order-form {
    padding: 15px;
    border-radius: 10px;
    margin-right: 20px;
}

.base-form-field,
.sweet-form-field,
.ice-form-field,
.all-toppings__container {
    margin-bottom: 15px;
}

.toppings-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}

.each-toppings__container {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    border: 1px solid rgb(116, 91, 49);
    border-radius: 25px;
    padding: 5px;
}

.each-toppings__container label{
    margin-left: 10px;
}

.each-toppings__container input[type="checkbox"] {
    margin-left: 5px;
    margin-right: 10px;
    transform: translateY(-3px);
}

.preview-section ul {
    list-style-type: none;
}

.preview-section {
    border: 2px solid green;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
}

.receipt {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.button-container {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.button-container input[type="button"],
.button-container input[type="submit"] {
    margin: 5px;
}
